*
{
    margin:0;
    padding:0;
    box-sizing: borderbox;
}

header
{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

/* Splash Screen */

.intro
{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #7749F8;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.logo
{
    position: absolute;
    display: inline-block;
}



